.nav{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    box-shadow: 0 0 10px 0 #a0bebf;
    background-color: white;
}

.navitem{
    border-bottom: solid 2px transparent;
    transition: all 0.2s;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

@media(any-hover:hover){
    .navitem:hover{
        border-bottom: solid 2px red;
    }
}

.navitem:active{
    border-bottom: solid 2px black;
}

.checked{
    border-bottom: solid 2px red;
}