.projectListItem {
	width: 100%;
	padding: 10px;
	background-color: white;
	box-shadow: 0 0 5px 0 lightgray;
	transition: all 0.2s;
}

@media (any-hover: hover) {
	.projectListItem:hover {
		box-shadow: 0 0 5px 0 rgb(162, 162, 162);
	}

	.title:hover {
		text-decoration-line: underline;
	}
}

.statusBadge {
	width: fit-content;
	min-width: max-content;
	height: fit-content;
	padding: 3px;
	color: white;
	font-size: small;
	background-color: white;
	border-radius: 5px;
}

.header {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.title {
	margin-right: auto;
	font-weight: 500;
	font-size: larger;
	cursor: pointer;
}

.techList {
	display: flex;
}

.techList span {
	color: gray;
	text-decoration-line: underline;
}

.editButton {
	padding: 0;
	color: rgb(49, 141, 187);
	border: none;
	box-shadow: none;
	cursor: pointer;
	text-decoration-line: underline;
}

.main {
	display: flex;
	justify-content: space-between;
}
