.projectContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.projectStatus {
	width: 100%;
	padding: 10px;
}

.projectList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
}

.projectForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}